pillow
streamlit
streamlit-option-menu
pandas
textblob
streamlit
matplotlib
seaborn
emojis
wordcloud
urlextract
os
PIL 
dotenv 
google.generativeai 
PyPDF2 
langchain.text_splitter 
langchain.embeddings 
langchain.vectorstores 
pygame
gtts 
speech_recognition 
googletrans 
langchain.llms 
langchain.chains 
langchain.memory 

